body {
    font-family: 'Nunito';

}
footer{
    position: fixed;
    bottom:0;
    width: 100%;
}
.logo{
    width: 200px;
}
main{
    margin-top: 5%;
    margin-bottom: 10%;
}

.card{
    width: 40%;
}
img{
    width:100%;
    height: auto;
}
#applaudit{
    width: 20%;
}